body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}

.login-box {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 350px;
}

.logo-institucional {
    display: block;
    margin: 0 auto 15px; /* Centra horizontalmente y da espacio abajo */
    width: 200px; /* Ajusta el tamaño según tu imagen */
    height: auto;
}

.info-alert {
    background: #e7f3ff;
    color: #000000;
    padding: 15px;
    border-radius: 8px;
    font-size: 13px;
    margin-bottom: 20px;
    border-left: 5px solid #e605da;
}

.btn-login {
    background: #aa02a2;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

.btn-login:hover {
    background: #700161;
}
