body {

    background: linear-gradient(180deg, #2b001d 0%, #700161 50%, #2b001d 100%);
    background-attachment: fixed;

    background-size: cover;

    display: flex;

    justify-content: center;

    align-items: center;

    min-height: 100vh;

    font-family: 'Segoe UI', sans-serif;

    margin: 0;

}

 

.login-box, .landing-box {

    background: white;

    padding: 40px;

    border-radius: 15px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.1);

    text-align: center;

    max-width: 300px;

    width: 80%;

}

 

.dashboard-container {

    background: white;

    padding: 40px;

    border-radius: 15px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.1);

    text-align: center;

    max-width: 600px;

    width: 90%;

}

 

.logo-institucional {

    display: block;

    margin: 0 auto 15px;

    width: 200px;

}

 

.hidden {

    display: none !important;

}

 

input {

    width: 100%;

    padding: 12px;

    margin: 12px 0;

    border: 1px solid #888585;

    border-radius: 10px;

    box-sizing: border-box;

}

 

.btn-login, #btn-registrar, .btn-primary {

    background-color: #660361ee;

    color: white;

    border: none;

    padding: 12px;

    width: 100%;

    border-radius: 5px;

    cursor: pointer;

    font-size: 16px;

    transition: 0.3s;

    font-family: 'Segoe UI', sans-serif;

}

 

.btn-login:hover, #btn-registrar:hover, .btn-primary:hover {

    background-color: #970183;

}

 

.btn-link {

    background: none;

    border: none;

    color: #700161;

    text-decoration: underline;

    margin-top: 15px;

    cursor: pointer;

    font-size: 14px;

}

 

.btn-link:hover {

    color: #970183;

}

 

.error-msg {

    color: #e605da;

    font-size: 13px;

    margin-top: 10px;

}

 

.header-dash {

    display: flex;

    justify-content: space-between;

    align-items: center;

    border-bottom: 2px solid #eee;

    padding-bottom: 15px;

    margin-bottom: 20px;

}

 

.header-dash h2 {

    font-size: 20px;

    color: #2b001d;

    margin: 0;

    text-align: left;

}

 

.form-group {

    margin-bottom: 25px;

}

 

table {

    width: 100%;

    border-collapse: collapse;

    margin-top: 20px;

}

 

th, td {

    padding: 12px;

    border-bottom: 1px solid #eee;

    text-align: left;

}

 

th {

    color: #aa02a2;

    font-weight: 600;

}

 

.btn-delete {

    background: #9c2731;

    color: white;

    border: none;

    padding: 6px 12px;

    border-radius: 3px;

    cursor: pointer;

    transition: 0.2s;

}

 

.btn-delete:hover {

    background: #bd303d;

}

 

.btn-logout {

    background: #161616;

    color: white;

    border: none;

    padding: 8px 15px;

    cursor: pointer;

    border-radius: 5px;

    transition: 0.2s;

}

 

.btn-logout:hover {

    background: #333333;

}
